@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
.logo{
    text-decoration: none;
    color:#e5c899;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
color: #e5c899;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
    color: #c8ad7f;
}
section{
    padding: 100px  200px;

}
.sec-one{
    width: auto;
    height: auto;
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 15px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* padding-top: 100px;  */
    /*https://images.pexels.com/photos/5706001/pexels-photo-5706001.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260*/
    background-image: url(images/new.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #dfb674;
    font-size: 1.4em;
    font-weight: 500;
}
.header-one{
    display: inline-block;
    margin-top: 10px;
    color : #dfb674 ;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
     color: #fff;
     background-color: #c8ad7f; 
     text-decoration: none;
     font-size: 1.1em;
     font-weight: 600;
     display: inline-block;
     padding: 0.9375em 2.1875em;
     letter-spacing: 1px;
     border-radius: 15px;
     margin-bottom: 40px;
     transition: 0.7s ease;
}
.main-btn:hover{
    background-color:#c8ad7f;
    transform: scale(1.1);
}
.social-icons{
    
    font-size: 1.7em;
    margin-right: 30px;
    padding: 0 20px 0 10px ;    
}
.href-color{
    color: #c8ad7f;
}
.title{
    display: flex;
    justify-content: center;
    color:#c8ad7f;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.cards{
    background: url(images/back2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
   
}
.card{
    background-color: #f0f0f0;
    width: 21.2em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10PX;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #c8ad7f;
    font-size: 8em;
    text-align: center;
}
.links{
    text-decoration: none;
}
.info{
text-align: center;

}
.info h3 {
    color: #c8ad7f;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background:url(images/back3.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.projects .content{
margin-top: 30px;
flex-wrap: wrap;
}
.project-card{
    background-color: white;
    border: 1px solid #fff;
    min-height: 14em;
    width: 17em;
    overflow:hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
transform: scale(1.1);
}

.project-card:hover .project-img{
    opacity: 0.9;
}

.project-img img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color : #c8ad7f;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color:#c8ad7f;
}
.more-details:hover{
    color: #e5c899;
}
.contact{
    background: url(images/back4.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact .icon{
    font-size: 4.5em;
}
.contact .info h3{
    color: #dfb674;
}
.footer{
    background-color: #f0f0f0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1em;
    font-weight: 600;
}
.footer-title span{
    color: #dfb674;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding:0 12px 0 0;
    align-items: center;

}

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }
}
@media (min-width: 176px) and (max-width: 1133px)  {
.content{
    flex-wrap: wrap;
}
.navigation{
    padding-left: 10px;
}
.title{
    font-size: 1.8em;
}
section{
    padding: 80px 20px;
}
.main-content h2{
    font-size: 1em;
}
.main-content h3{
    font-size: 1.6em;
}
.content{
    flex-direction: column;
    align-items: center;
}
}
@media (max-width:641px) {
    
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px) {
    body{
    font-size : 10px;
} 
}










